body {
    font-size: 1.5em;
    text-align: center;
    background-image: url(https://marketplace.canva.com/EAF_BrW4q8U/1/0/900w/canva-brown-beige-vintage-texture-background-instagram-story-zc-RoZMEKd4.jpg);
    background-size: 100%;
    padding: 20px;
}
.container {
    background: tan;
    padding: 70px;
    max-width: 500px;
    margin: auto;
}
button {
    margin-top: 10px;
    padding: 10px;
    background: lightgoldenrodyellow;
    color: black;
    border: none;
    cursor: pointer;
}